name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: git setup
        # Set up git and export env vars to be used in later steps.
        #   Note the unconventional mechanism for exporting envs by appending to
        #   $GITHUB_ENV.
        id: git-setup
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
          echo "WORKDIR=$(pwd)" >> $GITHUB_ENV

      - name: Set up Miniforge and create environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Miniforge3
          miniforge-version: latest
          auto-update-conda: true
          channels: conda-forge,bioconda,defaults
          channel-priority: strict
          environment-file: environment/env.yaml
          activate-environment: env

      - name: Generate test data with R
        shell: bash -l {0}
        run: |
          cd $WORKDIR
          Rscript data/test_data.R

      - name: Run R tests
        shell: bash -l {0}
        run: |
          cd $WORKDIR
          Rscript -e "devtools::document('AnalyzeOlink'); devtools::test('AnalyzeOlink')"

      - name: Run Snakemake
        shell: bash -l {0}
        run: |
          cd $WORKDIR/snakemake
          snakemake -j 2
